.slideshow-container {
    max-width: 600px;
    margin: 20px auto;
    position: relative;
}

.mySlides {
    display: none;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
    margin-top: 5%;
}
.page1{
    width: 50%;

}

.page44{
    width: 50%;
    margin-left: 50%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
    color: #333;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 -30px;;
}

.next {
    right: 0;
}
.prev:hover, .next:hover {
    background-color: #ddd;
}

.dot-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #333;
}

.text{
    font-family:serif;
    font-size: 10px;
    margin-top: 5%;
    margin-left: 35%;
}