.TopBar{
    justify-content: flex-end;
   display: flex;
   color: rgb(0, 0, 0);
   gap: 35px;
   align-items: end;
   font-size: 16px;
   font-family: 'Bodoni Moda', serif;
   position: relative;
   top: 40px; 
   left: -150px; 
   
}

.TopBar a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent to keep styling */
}

.TopBar a.Resume {
    color: rgb(148, 148, 148); /* Change this to your desired color */
}

.resume {
    display: block;           /* Ensures it’s on its own line */
    margin-top: 90px;         /* Pushes the PDF down from the top */
    width: 70%;              /* Full width */
    height: 800px;            /* Adjusts the height to make it longer */
    margin-left: 15%;
  }
  